/* 应用程序的基础样式 */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #4CAF50;
}

/* 头部样式 */
.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 表格样式 */
.App-table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

.App-table th, .App-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.App-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/* 按钮样式 */
.App-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.App-button:hover {
  background-color: white;
  color: black;
}

/* 输入框样式 */
.App-input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

/* 下拉选择样式 */
.App-select {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

/* 删除按钮样式 */
.App-remove-btn {
  color: white;
  background-color: #f44336; /* Red */
  margin-left: 5px;
}

.App-remove-btn:hover {
  background-color: white;
  color: black;
}